<%
attributes = [
  {
    "label"=> "Given names",
    "obj"=> @profile.given_names,
    "icon"=> "yoti-icon-profile"
  },
  {
    "label"=> "Family names",
    "obj"=> @profile.family_name,
    "icon"=> "yoti-icon-profile"
  },
  {
    "label"=> "Mobile number",
    "obj"=> @profile.phone_number,
    "icon"=> "yoti-icon-phone"
  },
  {
    "label"=> "Email address",
    "obj"=> @profile.email_address,
    "icon"=> "yoti-icon-email"
  },
  {
    "label"=> "Date of birth",
    "obj"=> @profile.date_of_birth,
    "icon"=> "yoti-icon-calendar"
  },
  {
    "label"=> "Address",
    "obj"=> @profile.postal_address,
    "icon"=> "yoti-icon-address"
  },
  {
    "label"=> "Gender",
    "obj"=> @profile.gender,
    "icon"=> "yoti-icon-gender"
  },
  {
    "label"=> "Nationality",
    "obj"=> @profile.nationality,
    "icon"=> "yoti-icon-nationality"
  },
  {
    "label"=> "Structured Postal Address",
    "obj"=> @profile.structured_postal_address,
    "icon"=> "yoti-icon-profile"
  },
  {
    "label"=> "Document Images",
    "obj"=> @profile.document_images,
    "icon"=> "yoti-icon-profile"
  }
]

full_name = @profile.full_name
%>
<main class="yoti-profile-layout">
    <section class="yoti-profile-user-section">
      <div class="yoti-profile-picture-powered-section">
        <span class="yoti-profile-picture-powered">Powered by</span>
        <a href="https://www.yoti.com/" target="_blank">
            <img class="yoti-logo-image" src="/assets/logo.png" srcset="/assets/logo@2x.png 2x" alt="Yoti" />
        </a>
      </div>

      <div class="yoti-profile-picture-section">
        <div class="yoti-profile-picture-area">
          <img src="selfie.jpeg" class="yoti-profile-picture-image" alt="Yoti" />
          <i class="yoti-profile-picture-verified-icon"></i>
        </div>

        <% if full_name %>
        <div class="yoti-profile-name">
          <%= full_name.value %>
        </div>
        <% end %>
      </div>
    </section>

    <section class="yoti-attributes-section">
      <a href="/"><img class="yoti-company-logo" src="/assets/company-logo.jpg" alt="company logo"></a>

      <div class="yoti-attribute-list-header">
        <div class="yoti-attribute-list-header-attribute">Attribute</div>
        <div class="yoti-attribute-list-header-value">Value</div>
        <div>Anchors</div>
      </div>

      <div class="yoti-attribute-list-subheader">
        <div class="yoti-attribute-list-subhead-layout">
          <div>S / V</div>
          <div>Value</div>
          <div>Sub type</div>
        </div>
      </div>

      <div class="yoti-attribute-list">

        <% attributes.each do |attr|  %>
            <% if !attr['obj'].nil? %>
                <div class="yoti-attribute-list-item">
                  <div class="yoti-attribute-name">
                    <div class="yoti-attribute-name-cell">
                      <i class="<%= attr['icon'] %>"></i>
                      <span class="yoti-attribute-name-cell-text"><%= attr['label'] %></span>
                    </div>
                  </div>

                  <div class="yoti-attribute-value">
                    <div class="yoti-attribute-value-text"><%= attr['label_prefix'] %>
                      <% case attr['obj'].name %>
                      <% when 'structured_postal_address' %>
                        <table>
                          <% attr['obj'].value.each do |key, value| %>
                            <tr>
                                <td><%= key %></td>
                                <td><%= value %></td>
                            </tr>
                          <% end %>
                        </table>
                      <% else %>
                        <%= attr['obj'] && attr['obj'].value %>
                      <% end %>
                    </div>
                  </div>

                  <div class="yoti-attribute-anchors-layout">
                    <div class="yoti-attribute-anchors-head -s-v">S / V</div>
                    <div class="yoti-attribute-anchors-head -value">Value</div>
                    <div class="yoti-attribute-anchors-head -subtype">Sub type</div>
                    <% if attr['obj'] %>
                      <% attr['obj'].sources.each do |source| %>
                        <div class="yoti-attribute-anchors -s-v">Source</div>
                        <div class="yoti-attribute-anchors -value"><%= source.value %></div>
                        <div class="yoti-attribute-anchors -subtype"><%= source.sub_type %></div>
                      <% end %>

                      <% attr['obj'].verifiers.each do |verifier| %>
                        <div class="yoti-attribute-anchors -s-v">Verifier</div>
                        <div class="yoti-attribute-anchors -value"><%= verifier.value %></div>
                        <div class="yoti-attribute-anchors -subtype"><%= verifier.sub_type %></div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </section>
</main>